<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Id='*' Name='Insomnia' Language='1033' Version='1.0.0.0' Manufacturer='Your Name' UpgradeCode='PUT-GUID-HERE'>
    <Package InstallerVersion='200' Compressed='yes' InstallScope='perMachine'/>
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder'>
        <Directory Id='INSTALLFOLDER' Name='Insomnia'>
          <Component Id='MainExecutable' Guid='*'>
            <File Source='insomnia.exe' KeyPath='yes'/>
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id='DefaultFeature' Level='1'>
      <ComponentRef Id='MainExecutable'/>
    </Feature>
  </Product>
  <Media Id='1' Cabinet='product.cab' EmbedCab='yes'/>
</Wix>
